

#blueBorder{
    position: relative;
    text-align: center;
    width: 184px;
    height: 184px;
    border-radius: 100%;
    border: 1px solid black;


}

#whiteBorder{
    position: relative;
    text-align: center;
    width: 184px;
    height: 184px;
    border-radius: 100%;
    border: 1px solid black;


}
