

.active-border{
    position: relative;
    text-align: center;
    width: 184px;
    height: 184px;
    border-radius: 100%;
    border: 1px solid black;

    background-color:white;
    /*background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);*/

}
